$primary: #00b5ec;
$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 4.7em;
	font-weight: 700;
}
h2 {
	font-size: 2.4em;
}
h3 {
	color: $primary;
	font-size: 2em;
	font-weight: 600;
}
img {
	max-width: 100%;
}

header {
	background: $primary;
	color: #fff;
	padding: 30vh 0 0;
	min-height: 100vh;
}

#portfolio {
	padding: 4em 0 0;
	#grid {
		margin: 4em 0 0;
		.item {
			width: 33.3%;
			float: left;
		}
	}
}
