$primary: #2295ce;
$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {

}

.negative {
  background: $primary;
  color: #fff;
}
.section {
  padding: 3em 0 4em;
}
