// colors
$primary: #00b5ec;
$secondary: #53e3a6;
$gray: #999;
$light-gray: #e7e7e7;

$browser-red: #fd605b;
$browser-yellow: #febe3c;
$browser-green: #36cd4a;

// breakpoints
$md: 992px;
$sm: 768px;

$icon-font-path: "../fonts/";
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// general
body {
	background: $light-gray;
	color: #595959;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	@media (max-width: $md) {
		font-size: 16px;
	}
	@media (max-width: $sm) {
		font-size: 15px;
	}
}
#wrapper {
	background: #fff;
	max-width: 1600px;
	margin: 0 auto;
}
h1 {
	font-size: 4.4em;
	font-weight: 700;
	@media (max-width: $sm) {
		font-size: 3em;
	}
}
h2 {
	font-size: 2.2em;
	@media (max-width: $sm) {
		font-size: 1.6em;
	}
}
h3 {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 1.75em;
}
h3 {
	position: relative;
	&:after {
		content: '\00a0';
		text-align: center;
		margin: 1em 0 0;
		border-bottom: 2px solid $light-gray;
		width: 4em;
		height: 0;
		display: block;
	}
	&.text-center {
		&:after {
			margin: 1em auto 0;
		}
	}
}
h4 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: 0.75em;
}
h1, h2, h3 {
	color: $primary;
}
p, li {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.2em;
}
img {
	max-width: 100%;
}
video {
	display: block;
	//opacity: 0.8;
	//transition: 0.2s ease all;
	&:hover {
		//opacity: 1;
	}
}
.btn-container {
	margin-top: 2em;
}
.btn {
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	padding: 0.75em 1.25em;
	border: none;
	border-radius: 0;
	&.btn-primary {
		background: $primary;
		&:hover {
			background: lighten($primary, 10%);
			color: #fff;
		}
	}
	&.btn-secondary {
		background: $secondary;
		&:hover {
			background: lighten($secondary, 10%);
			color: #fff;
		}
	}
}
.circle {
	border-radius: 50%;
}

// sections general
.negative {
	background: $primary;
	color: #fff;
	h1, h2, h3 {
		color: #fff;
	}
	&-black {
		background: #222;
	}
	&-secondary {
		background: $secondary;
	}
}
.section {
	padding: 4em 4em 7em;
	@media (max-width: $sm) {
		padding: 3em 2em 4em;
	}
}
.flex {
	display: flex;
}

// header
header {
	padding: 11em 4em 9em;
	background: $primary;
  background: -webkit-linear-gradient(top left, $primary 0%, $secondary 100%);
  background: -o-linear-gradient(top left, $primary 0%, $secondary 100%);
  background: linear-gradient(to bottom right, $primary 0%, $secondary 100%);
	position: relative;
	overflow: hidden;
	h1, h2, h3 {
		color: #fff;
	}
	.content {
		z-index: 10;
		position: relative;
	}

	@media (max-width: $sm) {
		padding: 4em 2em 2em;
	}
}
.ico-links {
	list-style-type: none;
	font-size: 3em;
	margin: 0.5em 0 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 0.25em;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: #fff;
		&:hover {
			text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
		}
	}
}

// portfolio/work
#work {
	.item {
		margin-bottom: 11.5em;
		&:last-child {
			margin-bottom: 5em;
		}
		@media (max-width: $md) {
			margin: 0 0 5em;
		}
	}
}
#work-slider {
	.slide {
		margin: 0 0 3em;
		margin-bottom: 13em; // thing
		@media (max-width: $md) {
			margin: 0 0 5em;
		}
		@media (max-width: $sm) {
			padding-right: 2em;
			padding-left: 2em;
		}
	}
}
.devices {
	position: relative;
}
.description {
	margin-top: 4em;
	&-right {
		margin-left: 3em;
	}
	&-left {
		margin-right: 3em;
	}
	@media (max-width: $md) {
		margin: 4em 0 0;
	}
	@media (max-width: $sm) {
		margin: 2em 0 0;
	}
	ul {
		&.skills {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				font-size: 0.75em;
				line-height: 2.5em;
				background: lighten($light-gray, 3%);
				padding: 0.5em 0.75em;
				border-radius: 0.3em;
				display: inline;
			}
		}
	}
}
.browser {
	border: 1px solid $gray;
	border-radius: 0.25em;
	width: 85%;
	@media (max-width: $sm) {
		width: 100%;
	}
	&.pull-right {
		@media (max-width: $md) {
			float: none !important;
		}
	}
	.bar {
		padding: 0.6em 0.75em 0.75em;
		border-bottom: 1px solid $gray;
		display: flex;
		flex-direction: row;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0.45em 0 0 0;
			flex: 0 0 auto;
			li {
				background: $gray;
				margin: 0 0.4em 0 0;
				border-radius: 50%;
				width: 0.5em;
				height: 0.5em;
				float: left;
				&:nth-child(1) {
					background: $browser-red;
				}
				&:nth-child(2) {
					background: $browser-yellow;
				}
				&:nth-child(3) {
					background: $browser-green;
				}
			}
		}
		.address {
			color: lighten($gray, 10%);
			font-size: 0.75em;
			padding: 0.25em 0.5em;
			margin: 0 0 0 1em;
			border: 1px solid $gray;
			border-radius: 0.2em;
			flex: 1 1 auto;
			.typer {
				width: 0;
				overflow: hidden;
				white-space: nowrap;
			}
			.typing {
				border-right: 0.15em solid $gray;
				animation:
					typing 1.25s steps(15, end) forwards,
					blinking-cursor .75s step-end infinite;
			}
		}
	}
}
.phone {
	background: #fff;
	border: 1px solid $gray;
	border-radius: 1em;
	width: 28%;
	@media (max-width: $sm) {
		display: none;
	}
	.camera {
		background: $gray;
		margin: 1em auto 0.75em;
		border-radius: 50%;
		width: 0.5em;
		height: 0.5em;
	}
	.speaker {
		background: $gray;
		margin: 0 auto;
		border-radius: 0.2em;
		width: 2.25em;
		height: 0.35em;
	}
	.screen {
		width: 90%;
		margin: 1em auto 0.75em;
		border: 1px solid $gray;
	}
	.home {
		width: 2em;
		height: 2em;
		margin: 0 auto 0.75em;
		border: 1px solid $gray;
		border-radius: 50%;
	}
}
.device {
	position: absolute;
	top: 0;
	&-left {
		left: 0;
		@media (max-width: $md) {
			left: auto;
			right: 0;
		}
	}
	&-right {
		right: 0;
	}
	&-lower {
		top: 5em;
	}
}

// footer
footer {
	text-align: center;
	padding: 2.25em 4em 1.5em;
	@media (max-width: $sm) {
		padding: 2em 2em 1.25em;
	}
}

// hero bubbles
.bg-bubbles {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.bg-bubbles li {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 50%;
	width: 40px;
  height: 40px;
	display: block;
  position: absolute;
  bottom: -180px;
  animation: bubbles 15s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
	animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
	animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
	animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
	animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
	animation-delay: 15s;
	animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
	animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 85%;
  width: 160px;
  height: 160px;
	animation-delay: 11s;
}

// browser typing animation
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blinking-cursor {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: $gray;
	}
}

// bubbles floating animation
@keyframes bubbles {
  from {
		transform: translateY(0);
  }
  to {
		transform: translateY(-720px);
  }
}

// slick specific styles
.slick {
	&-slide {
		outline: none;
	}
}
